
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Space+Grotesk:wght@300..700&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: "DM Sans", sans-serif;
    background-color: #000;
    color: #fff;
    line-height: 1.3;
}

.container {
    max-width: 1400px;
    margin: 40px 40px;

    
}

/* Navigation */
.navbar {
    padding:  0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 90000;
}


/* Menu button */
.menu-btn {
    display: none;
}

.close-btn{
    display: none;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 32px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: opacity 0.3s;
}

.nav-links a:hover {
    border-bottom: #fff 1px solid;
}

/* Hero Section */
.hero {
    padding: 6rem 0 4rem;
    margin-top: 3rem;
}

.hero-title {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 4px;
}

.hero-subtitle {
    font-size: 20px;
    color: #B8B8B8;
    margin-bottom: 38px;
}

.hero-banner {
    background: linear-gradient(135deg, #1e3a8a 0%, #3b82f6 100%);
    height: 506px;
    width:100%;
    max-width:1420px;
    margin-bottom: 2rem;
    position: relative;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.head-line{
    display: flex;
    margin-bottom: 38px
}

.hero-text {
    display: flex;

}


.hero-text h2 {
    margin-left: 264px;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.2;
    max-width: 480px;
}

.scroll-indicator {
    padding-right: 24px;
    text-align: end;
    margin-top: 14rem;

}

.scroll-indicator span {
    font-size: 20px;
    opacity: 0.9;
}

.contact-info {
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    line-height: 1.4;
}

.contact-info p:first-child {
    margin-bottom: 12px;
    font-weight: 600;
    color: #d1d1d1;
}

/* About Section */
.about {
    padding: 6rem 0;

}

.about .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem; /* or whatever spacing you want */
    align-items: start;
}

.about-text {
    gap: 0px;
    font-size: 24px;
    line-height: 1.3;
    color: #ffffff;
    margin-bottom: 32px;

    
  
}
.about-content{
    width: 100%;
    max-width: 600px; /* caps content width */
    margin: 0 auto 4rem auto; /* center horizontally and add spacing below */
    word-spacing: normal;
    margin-bottom: 12rem;
}

.read-more {
    display: inline-block;
    text-align: right;
    color: #dbdbdb;
    text-decoration: none;
    font-size: 20px;


}

.read-more:hover{
    color: aliceblue;
    border-bottom: 1px solid #fff;
}

.services h3 {
    margin-left: 40px 40px;
    font-weight:300;
    font-size: 24px;
    margin-bottom: 24px;
}


.services{
    margin-top: 30px;

}

.services ul {
    list-style: none;
}

.services li {
    color: #ccc;
    font-weight: 300;
    font-size: 24px;
}

/* Featured Work */
.featured-work {
    padding: 2rem 0;
}

.section-title {
    font-size: 24px;
    margin-bottom: 0rem;
    font-weight: 300;
}

.work-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 32px;
}

.work-item {
    aspect-ratio: 1;
    background-color: #1a1a1a;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
}

.work-item:hover {
    transform: translateY(-5px);
}
.work-2{
    margin-top: 20px;
}

.work-placeholder {
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #2a2a2a 0%, #1a1a1a 100%);
    align-items: center;
    justify-content: center;
}

/* f-work*/


.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);;
  column-gap: 24px;
  row-gap: 84px;
}

.project-card {
  width: 100%;
  height: auto;
  aspect-ratio: 690 / 622;
  overflow: hidden;
  background: #000;
}

.project-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


/* Skills Section */
.skills {
    padding: 2rem 0;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.skills-grid{
    gap: 16rem;
}


.section-title{
    margin-bottom: 60px;
    font-size: 32px;
    font-weight: 500;
}

.skill-category h3 {
    font-weight:300;
    margin-bottom: 24px;
    font-size: 24px;
}

.skill-category ul {
    list-style: none;
}

.skill-category li {
    padding: 0.5rem 0;
    color: #ccc;
    font-weight: 300;
    font-size: 24px;
}

/* CTA Section */
.cta {
    padding: 6rem 0;
    text-align: center;
}

.cta h2 {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px ;
    font-size: clamp(24px, 6vw, 54px); /* min 24px, scales with viewport, max 54px */
    margin-bottom: 24px;
    font-weight: 500;
}

.cta-button {
    display: inline-block;
    color: #e7e7e7;
    text-decoration: none;
    font-size: 20px;
    padding: 0.5rem 0;
    border-bottom: #5a5a5a 0.5px solid;
    transition: opacity 0.3s;
}

.cta-button:hover {
    color: #fff;

    border-bottom: #fff 1px solid;
    transition: opacity 0.3s;
}

/* Footer */
.footer {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0 0 0;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: clamp(6rem, 18vw, 20rem);
    row-gap: 3rem;
    margin-left: 40px;
    margin-bottom: 3rem;
}


.footer-links {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.footer-links a {
    border-bottom:rgb(31, 31, 31) 1px solid ;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 28px;
    transition: opacity 0.3s;
}

.footer-links a:hover {
    opacity: 0.7;
}

.footer-info p,
.footer-connect p {
    color: #ccc;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 10px;
}

.footer-info p:first-child,
.footer-connect p:first-child {
    color: #888;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.footer-bottom {
    text-align: center;
    padding-top: 2rem;
}

.footer-bottom p {
    color: #666;
    font-size: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {


  .menu-btn {
    display: block;
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }

  /* Menu overlay hidden by default */
  .nav-links {
    position: fixed;
    inset: 0;
    background: #000;
    flex-direction: column;
    text-align: right;
    align-items: center;
    justify-content: center;
    gap: 46px;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 999;
  }

  .nav-links.active {
    opacity: 1;
    pointer-events: auto;
  }

  /* Show close button only when menu active */
  .nav-links.active ~ .close-btn {
    display: block;
    position: fixed;
    top: 42px;
    right: 54px;
    font-size: 20px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    z-index: 1000;
  }

  .nav-links a {
    font-size: 40px;
  }

    
    .container {
        margin-left: 20px ;
        margin-right: 20px
    }

    .hero-title {
        font-size: 2rem;
    }

    .head-line{
        display: block;
        margin-bottom: 38px;
}

.hero-content{
    display: block;
}

.hero-text h2{
    margin-left: 0;
}

.contact-info{
    margin-left: 0;
}

.scroll-indicator {
    margin-top: 6rem;

}

.contact-info{
    font-size: 24px;
    margin-bottom: 0px;
    margin-left: 0;

}







    .hero-banner {
        padding: 2rem 1.5rem;
    }

    .hero-text h2 {
        font-size: 1.3rem;
    }

    .about {
    padding: 3rem 0;

}
    .about .container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .about-content{
        max-width: 550px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 6rem;

    }
    .work-grid {
        grid-template-columns: 1fr;
    }

    .skills-grid {
        grid-template-columns: 1fr;
    }

    .footer-content {
        grid-template-columns: 1fr;
        gap: 200px;
    }

    .nav-links {
        gap: 1rem;
    }

    .section-title {
        font-size: 1.5rem;
        margin-bottom: 40px;
    }

    .section-title{
    font-size: 32px;
    font-weight: 500;
}

    .cta h2 {
        max-width: 80%

    }

    .services{
        margin-bottom: 0rem;
    }


  .projects-grid {
    grid-template-columns: 1fr;
    row-gap: 40px; /* adjust if needed */
  }

    .featured-work{
        padding: 0;
        margin-bottom: 0;
    }
  
    .projects-grid{
        margin-top: 0px;
    }
    
    .footer-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 28px;
    transition: opacity 0.3s;
}

    .footer-content {

    row-gap: 3rem;
    margin-left: 0px;
    margin-bottom: 2.8rem;}


    .skills-grid{
        gap: 2rem;
    }


    .cta {
    padding: 6rem 0;
    text-align: left;
}

    .cta h2 {
    text-align: left;
    margin-left: 20px;
    margin-right: 100px ;
    font-size: clamp(24px, 6vw, 54px); /* min 24px, scales with viewport, max 54px */
    margin-bottom: 24px;
    font-weight: 500;}

    .cta-button {
    display: inline-block;
    color: #e7e7e7;
    text-decoration: none;
    font-size: 20px;
    padding: 0.5rem 0;
    border-bottom: #5a5a5a 0.5px solid;
    transition: opacity 0.3s;
    text-align: left;
    margin-left: 20px;
}

.cta-button:hover {
    color: #fff;

    border-bottom: #fff 1px solid;
    transition: opacity 0.3s;
}


}




